<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
<head>
    <meta charset="utf-8">
    <title>TsnTools 一覧</title>
</head>
<body>
    <div class="search-container">
    <form method="post" class="search-form-2col">
        {% csrf_token %}
        <div class="form-left">
            <div class="form-row">
                <label>商品グループコード</label>
                <input type="text" name="productGroupCode" maxlength="3"
                       value="{{ form.productGroupCode.value|default_if_none:'' }}"
                       placeholder="商品グループコード" class="inputtext">
                {% if form.productGroupCode.errors %}
                    <div class="error-message" style="color:red;">
                        {{ form.productGroupCode.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-row">
                <label>商品グループ名称</label>
                <input type="text" name="productGroupName" maxlength="128"
                       value="{{ form.productGroupName.value|default_if_none:'' }}"
                       placeholder="商品グループ名称">
                {% if form.productGroupName.errors %}
                    <div class="error-message" style="color:red;">
                        {{ form.productGroupName.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-row">
                <label>商品グループ略称</label>
                <input type="text" name="productGroupAbbreviation" maxlength="15"
                        value="{{ form.productGroupAbbreviation.value|default_if_none:'' }}"
                       placeholder="商品グループ略称">
                {% if form.productGroupAbbreviation.errors %}
                    <div class="error-message" style="color:red;">
                        {{ form.productGroupAbbreviation.errors }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-right">
            <div class="domestic-section">
                <label>国内海外区分</label><br>
                <input type="checkbox" name="domesticAbroadClass" value="0"
                       {% if '0' in form.domesticAbroadClass.value %}checked{% endif %}> 海外
                <input type="checkbox" name="domesticAbroadClass" value="1"
                       {% if '1' in form.domesticAbroadClass.value %}checked{% endif %}> 国内
                {% if form.domesticAbroadClass.errors %}
                    <p style="color:red;">{{ form.domesticAbroadClass.errors }}</p>
                {% endif %}
            </div>
            <div class="sort-section">
            <label>ソート順</label><br>
                {{ form.sort }}
            </div>

        </div>

        <div class="form-actions">
            <input type="submit" value="絞り込み">
        </div>
    </form>
</div>
<div class="result-container">
    <table class="clean-table">
        <thead>
        <tr class="header-row">
            <th></th>
            <th>名称</th>
            <th>略称</th>
            <th>区分</th>

        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <td>
            <input type="radio"name="deleteTarget" value="{{ row.product_group_code }}"></td>
            <td>{{ row.product_group_name }}</td>
            <td>{{ row.product_group_abbreviation }}</td>
            <td>
            {% if row.domestic_abroad_class == "0" %} 
            海外
            {% elif row.domestic_abroad_class == "1"%}
            国内
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
</body>
</html>
